Aplikace vyžaduje nainstalovaný Python verze 3.8 nebo vyšší. 

Požadované knihovny nainstalujete příkazem v terminálu / příkazové řádce: 
  pip install yfinance pandas numpy scipy matplotlib dataframe_image pillow 

V rámci programu je využíván prohlížeč (Chrome/Chromium). Je proto třeba jej mít nainstalovaný.
